Repository cse110-fa22-group3/cse110-fa22-group3, pull requests merged in 2022-12, with the labels that each got.

#107 supplemented backend-test
  src/_tests_/choresListTests/unit.test.js
  src/testSupportFiles/choresListTests/unit-test-choresListAPI.js
Labels: DevOps

#102 Roommate List Feature with updated styling and bug fixes
  src/back-end/roommateListAPI.js
  src/front-end/cse110-fa22-group3.code-workspace
  src/front-end/modules/roommate-list/css/popup.css
  src/front-end/modules/roommate-list/css/style.css
  src/front-end/modules/roommate-list/js/main.js
  src/front-end/modules/roommate-list/js/roommate.js
  src/front-end/roommates.html
Labels: bug, back-end, Front-end

#111 changed bottom styling black box for each page and changed nav bar
  src/front-end/chores.html
  src/front-end/intro.html
  src/front-end/money-balancer.html
  src/front-end/roommates.html
Labels: Front-end

#115 Adding additional tests for BillDivider
  src/_tests_/billDividerTests/unit.test.js
  src/back-end/billDividerAPI.js
  src/front-end/modules/bill-divider/js/main.js
  src/testSupportFiles/billDividerTests/unit-test-billDividerAPI.js
  src/testSupportFiles/billDividerTests/unit-test-main.js
Labels: DevOps

#117 Finishing e2e tests for password holder
  package.json
  src/_tests_/passwordHolderTests/front.test.js
  src/front-end/passwords.html
Labels: bug, back-end, DevOps

#113 Money Balancer Format Corrected and Gray Section added to all pages
  src/front-end/chores.html
  src/front-end/money-balancer.html
  src/front-end/roommates.html
Labels: Front-end

#119 Create 112622-retrospective.md
  admin/meetings/112622-retrospective.md
Labels: documentation

#118 Create 113022-sprint-3-review.md
  admin/meetings/113022-sprint-3-review.md
Labels: documentation

#120 Adding small fixes to css for Password Holder
  src/front-end/modules/passwordHolder/scripts/passwordHolderCard.js
  src/front-end/passwords.html
Labels: bug, Front-end

#121 Tatsuo/fix/pic and black box
  src/front-end/intro.html
  src/front-end/roommates.html
Labels: Front-end

#126 Adding start to e2e test for bill divider
  src/_tests_/billDividerTests/front.test.js
  src/front-end/modules/bill-divider/js/main.js
  src/front-end/money-balancer.html
  src/front-end/roommates.html
Labels: bug, back-end, DevOps

#129 finished bill divider testing
  src/_tests_/billDividerTests/front.test.js
Labels: DevOps

#125 Jun/frontend test
  .github/workflows/unit-test.yml
  src/_tests_/choresListTests/front.test.js
  src/_tests_/roommateListTests/front.test.js
Labels: DevOps

#130 changed for description
  src/front-end/chores.html
  src/front-end/money-balancer.html
  src/front-end/passwords.html
  src/front-end/roommates.html
Labels: Front-end
